{tpic,#{peers => [],port => 1800}}.


% ====== [ here is an example of configuration ] ======

{discovery,#{addresses =>[
  #{address => "replace_with_your_hostname", port => 1800, proto => tpic},
  #{address => "replace_with_your_hostname", port => 1443, proto => apis},
  #{address => "replace_with_your_hostname", port => 1080, proto => api}
]}}.

{replica, true}.

{hostname, "replace_with_your_hostname"}. 

{upstream, [
   "Insert_here_your_upstream_link1",
   "Insert_here_your_upstream_link2" 
]}.

% ======= [ end of example ] =========


{dbsuffix,""}.
{loglevel, info}.
{info_log, "log/info.log"}.
{error_log, "log/error.log"}.
{debug_log, "log/debug.log"}.
{rpcsport, 1443}.
{rpcport, 1080}.
