{blockchain_node,"https://c1n2.thepower.io:1444/"}.
{main_hostname,"storage12.thepower.io"}.
{contract_address,"AA1000000016xxxxxx63"}.
{database, "rhea.db"}.
{contract_gas, 1000000}.
{temp_dir,"/tmp/rhea_tmp"}.
{http_dir,"/opt/rhea/html"}.
{db_dir,"db"}.

{my_address,"AA1000000016xxxxxx41"}.
{my_privkey,"A5B277FCC00391D067A1C509EA96ExxxxxxxxxxxxxxxxxxxxxxxxxxxxxA79544"}.
